<span
  class="popover-root"
  (focusout)="handleRootFocusOut($event)"
  (keydown)="handleEscape($event)"
>
  <button
    class="popover-trigger"
    type="button"
    [attr.aria-expanded]="isOpen ? 'true' : 'false'"
    [attr.aria-controls]="popoverId"
    [attr.aria-describedby]="popoverId"
    [attr.aria-label]="ariaLabel"
    (mouseenter)="openByHover()"
    (mouseleave)="handleHoverLeave($event)"
    (focusin)="openByFocus()"
    (click)="toggle()"
  >
    <ng-content select="[popoverLabel]"></ng-content>
  </button>

  <span
    [id]="popoverId"
    class="popover"
    role="tooltip"
    [class.popover-open]="isOpen"
    [hidden]="!isOpen"
    (mouseenter)="handleHoverEnter()"
    (mouseleave)="handleHoverLeave($event)"
  >
    <span class="popover-content">
      <span class="popover-body">{{ text }}</span>
    </span>
  </span>
</span>
