<div
  class="popover-root"
  (focusout)="handleRootFocusOut($event)"
>
  <button
    class="popover-trigger"
    type="button"
    [attr.popovertarget]="popoverId"
    popovertargetaction="toggle"
    (mouseenter)="openByHover()"
    (mouseleave)="handleHoverLeave($event)"
    (focusin)="openByFocus()"
  >
    <ng-content select="[popoverLabel]"></ng-content>
  </button>

  <div
    #popoverPanel
    [id]="popoverId"
    class="popover"
    popover="auto"
    (toggle)="handlePopoverToggle()"
    (mouseenter)="handleHoverEnter()"
    (mouseleave)="handleHoverLeave($event)"
  >
    <div class="popover-content">
      <div class="popover-body">{{ text }}</div>
    </div>
  </div>
</div>
